@use 'sass:color';

$primary: #172439;
$secondary: #5a8a3a;
$tertiary:#253917;
$primary-light: color.adjust($primary, $lightness: 10%);
$primary-lighter: color.adjust($primary, $lightness: 25%);
$primary-very-light: color.adjust($primary, $lightness: 70%);
$primary-dark: color.adjust($primary, $lightness: -10%);
$primary-darker: color.adjust($primary, $lightness: -25%);

// 🔹 Variantes transparentes
$primary-translucent: color.change($primary, $alpha: 0.8);
$primary-transparent: color.change($primary, $alpha: 0.4);
$primary-ghost: color.change($primary, $alpha: 0.1);

// 🔸 Pour les bordures ou hover
$primary-border: color.scale($primary, $lightness: 40%);
$primary-hover: color.adjust($primary, $lightness: 25%, $saturation: 25%);
$primary-active: color.adjust($primary, $lightness: -5%, $saturation: 15%);
