<div class="person-list-container mt-4">
  <h3 class="person-list-title mb-4">
    👥 <strong>Personnes de la liste</strong>
  </h3>

  <div *ngIf="loading" class="text-center mt-4">
    <div class="loader loader-primary"></div>
  </div>

  <div *ngIf="!loading && persons.length === 0" class="info-card">
    Aucun membre pour cette liste. Ajoutez-en un ci-dessous !
  </div>

  <div *ngIf="!loading && persons.length > 0" class="custom-card table-wrapper">
    <table class="custom-table">
      <thead class="primary-light">
        <tr>
          <th>Nom</th>
          <th>Genre</th>
          <th>Âge</th>
          <th>Niveau FR</th>
          <th>Niveau Tech</th>
          <th>Ancien DWWM</th>
          <th>Profil</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="primary-very-light">
        <tr *ngFor="let person of persons">
          <td>{{ person.name }}</td>
          <td>{{ person.genderLabel }}</td>
          <td>{{ person.age }}</td>

          <td>
            <span
              class="badge-level"
              [ngClass]="{
                'level-low': person.frenchLevel < 2,
                'level-medium':
                  person.frenchLevel >= 2 && person.frenchLevel < 4,
                'level-high': person.frenchLevel >= 4
              }"
            >
              {{ person.frenchLevelLabel }}
            </span>
          </td>

          <td>
            <span
              class="badge-level"
              [ngClass]="{
                'level-low': person.techLevel < 2,
                'level-medium': person.techLevel >= 2 && person.techLevel < 4,
                'level-high': person.techLevel >= 4
              }"
            >
              {{ person.techLevelLabel }}
            </span>
          </td>

          <td>
            <span
              class="badge-status"
              [ngClass]="{
                'status-ok': person.oldDwwm,
                'status-ko': !person.oldDwwm
              }"
            >
              {{ person.oldDwwm ? " ✅" : " ❌" }}
            </span>
          </td>

          <td>
            <span class="custom-badge badge-profile">{{
              person.profileLabel
            }}</span>
          </td>

          <td>
            <button
              class="btn btn-outline btn-danger btn-small"
              (click)="deletePerson(person.id)"
              title="Supprimer"
            >
              🗑️
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
