@use "theme" as *;
@use "colors" as *;
@use "sass:color";
@use "card";
@use "btn";

.custom-badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  //   font-size: 0.75rem;
  //   font-weight: 600;
  line-height: 1;
  color: white;
  background-color: $primary;
  border-radius: 0.25rem;
  white-space: nowrap;
}

.person-list-container {
  @media (max-width: 768px) {
    .person-list-title {
      font-size: 1.25rem;
    }

    .custom-table {
      font-size: 0.875rem;
      min-width: 650px;
    }

    .custom-badge {
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
    }

    .btn-small {
      font-size: 0.75rem;
    }
  }

  .person-list-title {
    color: $primary;
  }

  .info-card {
    @extend .card-custom;
    background-color: $info;
    color: $dark;
    padding: 1rem;
    border-radius: $radius;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th,
    td {
      padding: 0.75rem;
      text-align: center; // 🔁 centrage horizontal
      border-bottom: 1px solid $grey-200;
      word-wrap: break-word; // ⛑ évite les débordements de texte
    }

    //   thead {
    //     background-color: $light;
    //   }
  }

  .badge-level {
    @extend .custom-badge;

    &.level-low {
      background-color: $danger;
    }

    &.level-medium {
      background-color: $warning;
      color: $dark;
    }

    &.level-high {
      background-color: $success;
    }
  }

  .badge-status {
    @extend .custom-badge;

    &.status-ok {
      background-color: $success;
    }

    &.status-ko {
      background-color: $danger;
    }
  }

  .badge-profile {
    background-color: $info;
    color: $dark;
    padding: 0.25rem 0.5rem;
    border-radius: $radius-sm;
  }

  .btn {
    @extend .btn-primary-custom;

    &.btn-small {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }

    &.btn-danger {
      border: 1px solid $danger;
      color: $danger;

      &:hover {
        background-color: $danger;
        color: #fff;
      }
    }
  }

  .loader-primary {
    border: 4px solid $grey-200;
    border-top: 4px solid $primary;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 0.75s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
