@use "theme" as *;
@use "colors" as *;
@use "sass:color";
@use "card";
@use "btn";


.custom-badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  //   font-size: 0.75rem;
    font-weight: 600;
  line-height: 1;
  color: white;
  background-color: $primary;
  border-radius: 0.25rem;
  white-space: nowrap;
  margin: 10px;
}