<footer class="footer border-top py-3 custom-bg-lighter">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    
    <div class="text-muted small mb-2 mb-md-0">
      &copy; 2025 {{ authorName }}
    </div>

    <div class="footer-links d-flex gap-3">
      <a routerLink="/mentions-legales" class="text-white text-decoration-none link-hover">Mentions légales</a>
      <a routerLink="/conditions-utilisation" class="text-white text-decoration-none link-hover">Conditions d'utilisation</a>
    </div>

  </div>
</footer>
